		html {
		    background-image: url(https://i.ytimg.com/vi/le0BLAEO93g/maxresdefault.jpg);
		    background-size: cover;
		    background-repeat: no-repeat;
    		background-attachment: fixed;
		    font-family:'helvetica neue';
		    font-size: 10px;
		    margin-top: 3.5rem;
		}
		body {
			/*align-items: center;*/
			
		}
		.digital {
			position: absolute;
			left: 33%;
			top: 24%;
			color: white;
			font-size: 5rem;
			font-family:'Helvetica', 'Arial', 'Sans-Serif';
			font-weight: bold;
		}
		.clock {
			border-radius: 100%;
			border: 20px solid white;
			height: 40rem;
			width: 40rem;
			left: 30%;
			padding: 2rem;
			position: absolute;
			box-shadow: 
				inset 0 0 0 3px #EFEFEF,
				inset 0 0 10px black,
				0 0 10px rgba(0,0,0,0.2);
		}
		.clock-face {
		    position: relative;
		    width: 100%;
		    height: 100%;
		    transform: translate(-3px);
		}
		.hand {
			width: 50%;
		    height: 6px;
		    background: white;
		    position: absolute;
		    top: 50%;
		    transform-origin: 100%;
		    transform: rotate(90deg);
		    transition: all 0.05s;
		    transition-timing-function: cubic-bezier(0.07, 3.05, 0.58, 1);
		}
		nav ul {
	    		font-family:'Helvetica', 'Arial', 'Sans-Serif';
	    		font-weight: bold;
	    		position: absolute;
	    		top: 18rem;
	   			list-style: none;
	   			text-align: left;
	    		
		}
		li {
		
		}
		a {
    			font-size: 5em;
    			text-decoration: none;
    			color: white;
		}
		a:hover {
    			text-decoration: underline;
		}
