#loading {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: url('https://rawgit.com/Ryan-Sheehan/Ryan-Sheehan.github.io/master/pypotipy/loading/Blocks.gif') no-repeat center center;
}
body {
    background-image: url(https://rawgit.com/Ryan-Sheehan/Ryan-Sheehan.github.io/master/pypotipy/images/tumblr_osft0n81Ax1r3yu63o1_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hidden {
    display: none;
}
.intro-form, .results-display, .bubble-chart {
    margin: auto;
    width: 50%;
    padding: 10px;
    align-items: center;
}
.intro-form, .results-display {
   margin-top: 80px;
}
.navbar {
   position: fixed;
   width:100%
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}
p {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
p.cell {
    margin: auto;
    padding: 10px 15px 10px 15px;
}

.load-resource-button {
  border: solid 3px #1ED760;
  display: inline-block;
  padding: 20px 40px;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
  color: #1ED760;
  transition: all 0.2s ease-in-out,
    background-color 0.05s,
    color 0.05s;
  
  font-size: 0.95rem;
  
  &:hover {
    background-color: #1ED760;
    color: white;
  }

  .text {
    line-height: 34px;
  }
  
  .plotlybars-wrapper {
    display: none;
    transform: rotate(-180deg);
  }
}

.load-resource-button.pending {
  border-radius: 50%;
  height: 85px;
  padding: 40px;
  transform: rotate(180deg);
  background-color: #1ED760;
  cursor: auto;
  
  .plotlybars-bar {
    background-color: white;
  }
  
  .text {
    opacity: 0;
    display: none;
  }
  
  .plotlybars-wrapper {
    display: block;
  }
}

.plotlybars {
  padding: 0 10px;
  vertical-align: bottom;

  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.plotlybars-wrapper {
  position: relative;
  width: 85px;
  height: 34px;
  padding-bottom: 34px/2;
}

.plotlybars-bar {
  background-color: #1ED760;
  height: 100%;
  width: 12%;
  position: absolute;
  
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;

  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;
}


.b1 { left: 0%; top: 88%; animation-name: b1; -webkit-animation-name: b1; }
.b2 { left: 14.3%; top: 76%; animation-name: b2; -webkit-animation-name: b2; }
.b3 { left: 28.6%; top: 16%; animation-name: b3; -webkit-animation-name: b3; }
.b4 { left: 42.9%; top: 40%; animation-name: b4; -webkit-animation-name: b4; }
.b5 { left: 57.2%; top: 26%; animation-name: b5; -webkit-animation-name: b5; }
.b6 { left: 71.5%; top: 67%; animation-name: b6; -webkit-animation-name: b6; }
.b7 { left: 85.8%; top: 89%; animation-name: b7; -webkit-animation-name: b7; }

@keyframes b1 { 0% { top: 88%; } 44% { top: 0%; } 94% { top: 100%; } 100% { top: 88%; } }
@-webkit-keyframes b1 { 0% { top: 88%; } 44% { top: 0%; } 94% { top: 100%; } 100% { top: 88%; } }

@keyframes b2 { 0% { top: 76%; } 38% { top: 0%; } 88% { top: 100%; } 100% { top: 76%; } }
@-webkit-keyframes b2 { 0% { top: 76%; } 38% { top: 0%; } 88% { top: 100%; } 100% { top: 76%; } }

@keyframes b3 { 0% { top: 16%; } 8% { top: 0%; } 58% { top: 100%; } 100% { top: 16%; } }
@-webkit-keyframes b3 { 0% { top: 16%; } 8% { top: 0%; } 58% { top: 100%; } 100% { top: 16%; } }

@keyframes b4 { 0% { top: 40%; } 20% { top: 0%; } 70% { top: 100%; } 100% { top: 40%; } }
@-webkit-keyframes b4 { 0% { top: 40%; } 20% { top: 0%; } 70% { top: 100%; } 100% { top: 40%; } }

@keyframes b5 { 0% { top: 26%; } 13% { top: 0%; } 63% { top: 100%; } 100% { top: 26%; } }
@-webkit-keyframes b5 { 0% { top: 26%; } 13% { top: 0%; } 63% { top: 100%; } 100% { top: 26%; } }

@keyframes b6 { 0% { top: 67%; } 33.5% { top: 0%; } 83% { top: 100%; } 100% { top: 67%; } }
@-webkit-keyframes b6 { 0% { top: 67%; } 33.5% { top: 0%; } 83% { top: 100%; } 100% { top: 67%; } }

@keyframes b7 { 0% { top: 89%; } 44.5% { top: 0%; } 94.5% { top: 100%; } 100% { top: 89%; } }
@-webkit-keyframes b7 { 0% { top: 89%; } 44.5% { top: 0%; } 94.5% { top: 100%; } 100% { top: 89%; } }

