#loading {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: url('https://rawgit.com/Ryan-Sheehan/Ryan-Sheehan.github.io/master/pypotipy/loading/Blocks.gif') no-repeat center center;
}
body {
    background-image: url(https://rawgit.com/Ryan-Sheehan/Ryan-Sheehan.github.io/master/pypotipy/images/tumblr_osft0n81Ax1r3yu63o1_1280.jpg);
    background-size: cover;
    background-position: center;
}
.hidden {
    display: none;
}
.intro-form, .results-display {
    margin: auto;
    width: 50%;
    padding: 10px;
    align-items: center;
}
.btn-primary {

}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}
/*.label, .data {
    height:100%;
    width:100%;
    background-color: rgba(1,1,1,0.8);
    
}*/

p {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
p.cell {
    margin: auto;
    padding: 10px 15px 10px 15px;
}

