body {
    background-image: url(https://rawgit.com/Ryan-Sheehan/Ryan-Sheehan.github.io/master/pypotipy/images/tumblr_osft0n81Ax1r3yu63o1_1280.jpg);
    background-size: cover;
    background-position: center;
}
.hidden {
    display: none;
}
.intro-form, .results-display {
    margin: auto;
    width: 50%;
    padding: 10px;
    align-items: center;
}
.btn-primary {

}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}
p {
    color: white;
}

